<html>
    <%- include('partials/header') %>
        <body>
               <div class="controles"> 
                    <div class="botones-top ">
        boton.classList.remove('hide');
                        <button type="button" id="btnArriba btnControl" class="btnControl hide">A</button>
                    </div>

                    <div class="botones-middle">
                        <button type="button" id="btnIzquierda btnControl" class=" btnControl hide"><</button>

                        <button type="button" id="btnDerecha btnControl" class=" btnControl hide">></button>
                    </div>
        
                    <div class="botones-down">
                        <button type="button" id="btnAbajo btnControl" class="btnControl hide">V</button>
                    </div>
                </div>
        </body>
    
</html>