
.controles{
    width: 220px;
    height: 220px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
}
.botones-top{
}   
.botones-middle{
    margin-top: 10px;
    margin-bottom: 10px;
}
.botones-down{
}
.btnControl{
    width: 30%;
    height: 30%;
    font-size: 2em;
    opacity: 0.5;
    margin:0 7% ;
    border-radius: 5px; 
    background: rgb(16, 56, 235);
    border: none;   
    color: white;
        
    text-align: center;
}
.hide{
    opacity: 0;
    visibility: hidden;
    transition: visibility 2s, opacity 1s 1s;
}
model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
  }