<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Informaci칩n</h4>
                    <p class="text-muted">  Proyecto de realidad aumentada realizado por Franco Adrian Balich el 31/1/2021 como proyecto final del curso de realidad aumentada de Image Campus. 
                        Este proyecto consiste en un cat치logo de robots, los cuales se pueden manejar con flechas en un entorno de realidad aumentada al usar la c치mara de un celular.
                      </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contacto</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.linkedin.com/in/franco-balich/" class="text-white">LinkedIn</a></li>
                        <li><a href="mailto:franco.balich@gmail.com" class="text-white">Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Cat치logo</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>