<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Catálogo de robots</h1>
        <p class="lead text-muted">Elija el robot que desee controlar a través de realidad aumentada en su ubicación.<br><br> No se olvide de escanear una superficie plana, asi el robot puede apoyerse sobre la misma. </p>
        <p class="lead text-muted" style="font-size: 1em;">(Compatible con dispositivos Android)</p>
    </div>
</section>